@import '../../index.scss';
@import '../../sass/mixins';

.inputBox {
  // flex: 1 0 50%;
  // width: 48%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $main-Black;
  flex: 1;
  @media (max-width: $lg-media) {
    width: 48%;
  }
  @media (max-width: $md-media) {
    width: 90%;
  }
  @media (max-width: $sm-media) {
    width: 100%;
  }
  input {
    height: 40px;
    background-color: $white;
    border: 1px solid $gray-b8;
    @include borderRadius(4px);
    padding: 0px 10px;
    &:focus {
      border-color: $blue-2e;
      box-shadow: $shadow-1;
    }
  }
  label {
    color: $gray-57;
    font-size: 14px;
    padding-inline-start: 8px;
  }
}