@import '../../index.scss';
@import '../../sass/mixins';

.jobForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 72px auto;
  width: 100%;
  @media (max-width: $lg-media) {
    margin: 52px auto;
  }
  @media (max-width: $md-media) {
    margin: 32px auto;
  }
  @media (max-width: $sm-media) {
    margin: 22px auto;
  }
  &__container {
    @include borderRadius(4px);
    box-shadow: 0 4px 4px rgba(87,100,126,.21);
    background-color: #fff;
    width: 80%;
    @media (max-width: $lg-media) {
      width: 90%;
    }
    @media (max-width: $md-media) {
      width: 95%;
    }
    .head {
      padding: 40px 52px;
      border-bottom: 1px solid #d7d8e1;
      // background-color: #fafafa;
      @media (max-width: $md-media) {
        padding: 40px 22px;
      }
      .title {
        font-size: 32px;
        color: #2c3345;
        word-break: break-word;
        font-weight: 600;
        line-height: 1.45;
        margin-bottom: 8px;
      }
      .text {
        font-size: 18px;
        color: #57647e;
        word-break: break-word;
        font-weight: 500;
        line-height: 1.6;
      }
    }
    .form {
      .group {
        padding: 40px 52px;
        border-bottom: 1px dashed $gray-b8;
        @media (max-width: $md-media) {
          padding: 40px 22px;
        }
        .inputWrapper {
          margin-bottom: 32px;
          .inpTitle {
            font-size: 22px;
            margin-bottom: 8px;
          }
          .inputs {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 16px;
            @media (max-width: $md-media) {
              flex-direction: column;
              align-items: flex-start;
            }
            .customSelect,
            .customSelect1 {
              flex: 1;
              @media (max-width: $lg-media) {
                width: 48%;
              }
              @media (max-width: $md-media) {
                width: 90%;
              }
              @media (max-width: $sm-media) {
                width: 100%;
              }
            }
            .customSelect1 {
              flex: 0 0 48%;
            }
            .innerSelect {
              // background-color: red;
            }
          }
          .checkContainer {
            margin-top: 16px;
            display: flex;
            align-items: center;
            gap: 10px;
            input {
              width: 20px;
              height: 20px;
              background-color: $white;
              border: 1px solid $gray-b8;
              @include borderRadius(4px);
            }
            label {
              color: $gray-57;
              font-size: 18px;
            }
          }
        }
      }
      .sendBtn {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sm-media) {
          padding: 30px;
        }
        button {
          padding: 8px 32px;
          border: 1px solid $success;
          @include borderRadius(4px);
          background-color: $success;
          color: $white;
          font-size: 22px;
          font-weight: bold;
          &:hover {
            background-color: $white;
            color: $success;
          }
        }
      }
    }
  }
}