@import '../../index.scss';
@import '../../sass/mixins';

.selectBox {
  select {
    height: 40px;
    background-color: $white;
    border: 1px solid $gray-b8;
    @include borderRadius(4px);
    padding: 4px 8px;
    outline: none;
    &:focus {
      border-color: $blue-2e;
      box-shadow: $shadow-1;
    }
    option {

    }
  }
}